body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: #ffffff;
  color: #212121;
}

ul {
  list-style: none;
}

.header a,
.footer a {
  text-decoration: none;
}

/* logo */

.logo {
  color: #000000;
}
.web {
  color: #2196f3;
}

/* header */

.header-list a {
  color: #212121;
}

.header-list a:hover,
.header-list a:focus {
  color: #2196f3;
}

.header .link:active {
  color: #2196f3;
}

.contacts a {
  color: #757575;
}

.contacts a:hover,
.contacts a:focus {
  color: #2196f3;
}

/* main */

/* filters */

/* footer */
